.HomeContainer {
  margin-top: 200px;
  font-family: "Quicksand", sans-serif;
  background-color: black;
  text-transform: capitalize;
}
.TitleContainer {
  margin-top: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.homeTitle {
  font-size: 3rem;
  margin: 0;
  font-weight: 400;
  color: white;
  text-align: center;
}
.CarouselContainer {
  height: 90vh;
  background: rgb(83, 199, 169);
  background: linear-gradient(
    0deg,
    rgba(83, 199, 169, 1) 0%,
    rgba(93, 72, 154, 0.8800654050682774) 33%,
    rgba(0, 0, 0, 1) 74%
  );
}
.homeTracks {
  margin-top: 200px;
}
.tracksTitle {
  margin-top: 50px;
  text-align: center;
}
.tracksContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  padding: 100px 0;
}
.tracksLink {
  text-align: center;
  padding-bottom: 50px;
}
.viewAllLink {
  color: white;
}
.viewAllLink:hover {
  color: lightgray;
}
@media (max-width: 768px) {
  .homeTitle {
    font-size: 2rem;
  }
  .HomeContainer {
    margin-top: 50px;
  }
  .tracksContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
  }
  .CarouselContainer {
    height: 50vh;
  }
  .homeTracks {
    margin-top: 30px;
    text-align: center;
  }
  .tracksTitle {
    font-size: 2rem;
  }
}
