.HomeContainer {
  margin-top: 200px;
  font-family: "Quicksand", sans-serif;
}
.TitleContainer {
  margin-top: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Title {
  font-size: 3rem;
  margin: 0;
  font-weight: 400;
  color: white;
}
.CarouselContainer {
  height: 90vh;
  background: rgb(158, 53, 147);
  background: linear-gradient(
    10deg,
    rgba(158, 53, 147, 1) 0%,
    rgba(37, 71, 21, 1) 15%,
    rgba(0, 0, 0, 1) 37%
  );
}
