.HomeContainer {
  margin-top: 200px;
  font-family: "Quicksand", sans-serif;
}
.TitleContainer {
  margin-top: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Title {
  font-size: 3rem;
  margin: 0;
  font-weight: 400;
  color: white;
}
.CarouselContainer {
  height: 90vh;
  background: rgb(83, 199, 169);
  background: linear-gradient(
    0deg,
    rgba(83, 199, 169, 1) 0%,
    rgba(93, 72, 154, 0.8800654050682774) 33%,
    rgba(0, 0, 0, 1) 74%
  );
}

@media (max-width: 768px) {
  .Title {
    font-size: 2rem;
  }
  .HomeContainer {
    margin-top: 50px;
  }
}
