.CarouselContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.Carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.imagen {
  width: 400px;
  height: 400px;
  box-shadow: 0 0 10px 0.5px #ffffff26;
  border-radius: 5px;
}
.CarouselTitle {
  width: 100%;
  text-align: center;
}
.btn {
  height: 10px;
  margin: 10px;
  background: none;
  color: white;
  border: none;
  transition: 0.5s;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .btn {
    margin: 0;
  }

  .imagen {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 330px) {
  .btn {
    display: none;
  }
}
