.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.cardImg {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}
.cardInfo {
  width: 100%;
}
.infoText {
  margin: 0;
}
@media (max-width: 768px) {
  .cardContainer {
    width: auto;
  }
  .cardImg {
    width: 150px;
    height: 150px;
  }
  .trackName {
    font-size: 1rem;
  }
  .trackArtitst {
    font-size: 0.8rem;
  }
  .Release {
    font-size: 0.8rem;
  }
}
